  /*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

  /* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
  /*
   * What follows is the result of much research on cross-browser styling.
   * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
   * Kroc Camen, and the H5BP dev community and team.
   */

  /* ==========================================================================
     Base styles: opinionated defaults
     ========================================================================== */

  html,body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
  }

  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */



  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  /*
   * A better looking default horizontal rule
   */

  .name {
    position: relative;
    text-align: center;
    background-color: white;
    width:max-content;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .name p {
    margin: 0px;
    font-size: 300%;

  }

  .lext{

    margin-top: 700px;

  }

  .nav{
    display: flex;
    align-items: center;
    position:fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom:4px #d1d1d1 solid;
    box-shadow: 0px 1px 5px grey;
  }

  .nav #top{



  }

  .top {

    display: flex;


  }

  .top a {


    font-family: Verdana;
    text-align: center;
    color: black;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 3;


  }

  .top a:hover{

    background-color: #d5d5d5;
    color: green;
  }

  .active {

    background-color: rgba(31, 187, 31, 0.5);



  }

  .plaetze{

    position: absolute;
    right: 10px;
    font-family: Verdana;
    text-align: center;
    background-color: #1FBB1FFF;
    color: white;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .unten {

    padding: 3px;
    background-color: rgb(31, 187, 31);
    color: black;
  }
  .daten
  {
    font-family: Verdana;
    box-sizing: border-box;
    border: 1px #1fbb1f solid;
    background-image: url("karte.png");
    background-size: 670px;
  }

  .imp
  {

    text-align: center;


  }

  .imp a{

    font-family: "Verdana";
    color: black;
    text-decoration-line: none;
    padding-left: 10px;
    padding-right: 10px;

  }

  .logo {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:  100px;
    margin-right: 50px;



  }
  .logob{


    width: clamp(100px, 25vw, 220px);
    height: auto;
    display: block;
  }

  #impressum::before,#datenschutz::before {
    content: "";
    display: block;
    height: 200px;
    margin-top: -200px;
    visibility: hidden;
  }

  .test {

    font-family: Verdana;
    margin-top: 200px;

  }

  .bg-img{


    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url( 'BG.jpg' );
    background-size: cover;
    margin-top: -10px;
    position: absolute;



  }



  .text {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
    background-color: white;
    color: black;
    border-radius: 50px;



  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  .icon {

    position: absolute;
    display: none;
    margin-top: 10px;
    margin-left:30px;
    z-index: 1;
    text-decoration-line: none;
    color: black;

  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {

    font-family: Verdana;
    line-height: 55px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    background-color: #d5d5d5;
    color: green;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav .closebtn:hover{

    background-color: #ffffff;
    color: black;

  }
  .bild
  {
    margin-top: 25px;
    margin-right: 50px;
    float: right;
    width: 250px;

  }


  @media only screen and (max-width: 960px) {
    /* For mobile phones: */
    .icon {

      display: block;

    }

    .nav
    {


    }

    .logo {

      margin-right: auto;
      margin-left: auto;
    }
    .logob{



    }


      .top {
        display: none;


      }
    }

  @media only screen and (min-width: 961px) {

      .top {

        display: block;

      }

    }


  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  /*
   * Remove default fieldset styles.
   */

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /*
   * Allow only vertical resizing of textareas.
   */

  textarea {
    resize: vertical;
  }

  /* ==========================================================================
     Author's custom styles
     ========================================================================== */

  /* ==========================================================================
     Helper classes
     ========================================================================== */

  /*
   * Hide visually and from screen readers
   */

  .hidden,
  [hidden] {
    display: none !important;
  }

  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

  /*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }

  /*
   * Hide visually and from screen readers, but maintain layout
   */

  .invisible {
    visibility: hidden;
  }

  /*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

  .clearfix::before,
  .clearfix::after {
    content: "";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]::after {
      content: " (" attr(href) ")";
    }

    abbr[title]::after {
      content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }

